
<footer class="footer">
    <div class="social-media">
      <ul>
        <li>
          <a href="https://www.facebook.com/Aymara.Productos.Naturales" target="_blank">
            <img src="./assets/img/Face.png" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/home" target="_blank">
            <img src="./assets/img/tw.png" alt="Twitter">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/aymara_p_naturales/" target="_blank">
            <img src="./assets/img/inst.png" alt="Instagram">
          </a>
        </li>
        <li>
          <a href="https://wa.me/+5493512740236?text=Envianos%20tu%20consulta%20php" target="_blank">
            <img src="./assets/img/wsp.png" alt="WhatsApp">
          </a>
        </li>      
      </ul>
    </div>
    <p>&copy; 2024 CodeMasters. Todos los derechos reservados.</p>
  </footer>
  
    
