<div class="container-ingresar" id="registerContainer">
    <form class= "formLogin" id="formLogin">
        <h3>Inicia Sesión</h3>
        <input type="text" class="box-ingresar" id="nombreUsuario" placeholder="Nombre de Usuario" required>
        <input type="password" class="box-ingresar"  id="password" placeholder="Contraseña" required>
        <button type="submit" class="submit-ingresar">Iniciar Sesión</button>
        <p id="registerLink">¿No tienes cuenta? <a href="registro.html" id="showRegister">Regístrate</a></p>
    </form>
 
</div>