<div class="container-ingresar" id="registerContainer">
           
    <form class="registroForm" id="registroForm">
        <h3>Regístrate</h3>
        <input type="text" class="box-ingresar" id="regNombreUsuario" placeholder="Nombre de Usuario" required>
        <input type="password" class="box-ingresar"  id="regPassword" placeholder="Contraseña" required>
        <input type="email" class="box-ingresar"  id="regEmail" placeholder="Dirección de Correo" required>
        <button type="submit" class="submit-ingresar">Registrarse</button>
        <p id="loginLink">¿Ya tienes una cuenta? <a href="ingresar.html" id="showLogin">Inicia Sesión</a></p>
    </form>
</div>
