body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        rgba(169, 194, 170, 0.75),
        rgba(169, 194, 170, 0.75)
      ),
      url("../src/assets/img/fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
