<section id="productos" class="container">
    <h2 class="titulo_prod">Nuestros Productos</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="product-card">
                <div class="product-image-container">
                    <img src="./assets/img/aceite_coco.jpeg" alt="Aceite de Coco" class="imagen">
                </div>
                <h3 class="prod">Aceite de Coco Organico</h3>
                <p class="prod_p">Suplemento dietario a base de aceite de coco. 100% natural. Fortificado con vitamina A, E y D. Sabor original. Presentación 380 cc </p>
                <button class="comprar-btn">Comprar</button>
                <input type="number" class="cantidad-input" placeholder="Cantidad">
                <div class="precio">
                    <div class="precio-marco">Precio: $11500 ARS</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <div class="product-image-container">
                    <img src="./assets/img/cafe_verde.jpeg" alt="Cafe Verde" class="imagen">
                </div>
                <h3 class="prod">Café Verde Plus</h3>
                <p class="prod_p">Suplemento dietario a base de café verde, vitamina B6, L-carnitina, té verde y garcinia cambogia.Ingesta diario recomendada 2 a 4 comprimidos por día. Presentación 60 comprimidos</p>
                <button class="comprar-btn">Comprar</button>
                <input type="number" class="cantidad-input" placeholder="Cantidad">
                <div class="precio">
                    <div class="precio-marco">Precio: $13500 ARS</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <div class="product-image-container">
                    <img src="./assets/img/garcimax.jpeg" alt="Garcimax" class="imagen">
                </div>
                <h3 class="prod">Garcimax Slim</h3>
                <p class="prod_p"> Suplemento dietario natural de heirbas (garcinia cambogia, fucus vesiculoso, té verde y café verde) y vitamina B1. Ingesta diaria recomendada 2 comprimidos diarios con abundante agua media hora antes de cada comida principal.Presentación 60 comprimidos</p>
                <button class="comprar-btn">Comprar</button>
                <input type="number" class="cantidad-input" placeholder="Cantidad">
                <div class="precio">
                    <div class="precio-marco">Precio: $12500 ARS</div>
                </div>
            </div>
        </div>
    </div>
</section>
