<div class="container-contacto mt-5">
    <form class="form">
        <h3>Contacto</h3>
        <p>Por favor, completa el formulario a continuación para ponerte en contacto con nosotros. Responderemos a
    la brevedad.</p>

<div class="info">
    <p>¿Necesitás atención personalizada?</p>
    <p>Comunicaté al:</p>
    <p class="numero_tel">351 274 0236</p>
</div>
</form>
<form class="form2">
<label for="nombre">Nombre y Apellido</label>
<input type="text" id="nombre" class="box" name="nombre" required>

<label for="email">Correo Electrónico</label>
<input type="email" id="email" class="box" name="email" required>

<label for="edad">Edad</label>
<input type="number" id="edad" class="box" name="edad" required>

<label for="sexo">Sexo</label>
<select id="sexo" class="box" name="sexo" required>
    <option value="">-</option>
    <option value="Hombre">Hombre</option>
    <option value="mujer">Mujer</option>
    <option value="n-s">Prefiero no Contestar</option>
</select>

<label for="altura">Altura (cm)</label>
<input type="number" id="altura" class="box" name="altura" required>

<label for="peso">Peso (kg)</label>
<input type="number" id="peso" class="box" name="peso" required>

<label for="objetivo">Objetivo</label>
<select id="objetivo" class="box" name="objetivo" required>
    <option value="">-</option>
    <option value="perdida_peso">Pérdida de Peso</option>
    <option value="mantenimiento">Mantenimiento</option>
    <option value="aumento_masa">Aumento de Masa Muscular</option>
</select>

<label>Desea Recibir Asesoramiento Nutricional
    <input type="checkbox" name="recibir_informacion" value="si"></label>

<button type="submit" value="enviar" class="submit">Enviar</button>
</form>
</div>

